/* 기본 스타일 *//*

.container {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
}

*/
/* 아이폰 12와 같은 모바일 화면에서의 스타일 *//*

@media only screen
    and (device-width: 390px) */
/* iPhone 12의 물리적 가로 해상도 *//*

    and (device-height: 844px) */
/* iPhone 12의 물리적 세로 해상도 *//*

    and (-webkit-device-pixel-ratio: 3) */
/* iPhone 12의 픽셀 비율 *//*

    and (orientation: portrait) { */
/* 세로 방향 모드 *//*


    .container {
        margin-top: 20px;
    }

    .card {
        width: 100%;
    }
}
*/
